<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr scope="row">
            <td><b>{{this._id}}</b></td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
            <td>{{this.role}}</td>
            <td>
                <a href="/api/users/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/api/users/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>